.wrapper{
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #020202;
    color: #ffffff;
    background-image: linear-gradient(315deg, #0c0c0c 0%, #21252a 74%);

}